@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}
body{
	background-color: #323232;
	min-height: 100vh;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.catalogo{
	background-color: #FFB900;
	color: #F2F2F2;
}
.encabezado{
	font-size: 40px; 
	color: black;
}
.container{
	max-width: 1600px;
	margin: 0 auto;
}
.header{
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(1, 1, 1, 0.7);
	padding: 0px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}
.logo-1{
	font-size: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
}
.header .navigation ul li{
	float: left;
	position: relative;
}
.header .navigation ul li a{
	font-size: 24px;
	color: #FFFFFF;
	padding: 20px;
	display: block;
	transition: all .2s ease;
}
.header .navigation ul li a:hover{
	background-color: #685CFE;
	border-radius: 15px;
}
.header .navigation ul li ul{
	position: absolute;
	right: 0;
	width: 300px;
	background-color: rgba(1, 1, 1, 0.7);
	display: none;
}
.header .navigation ul li ul li a{
	font-size: 20px;
	text-transform: uppercase;
	color: #FFB900;
}
.header .navigation ul li ul li ul{
	position: absolute;
	top: 0;
	right: 300px;
}
.header .navigation ul li ul li ul li a{
	color: #FFFFFF;
	font-size: 17px;
}
.header .navigation ul li ul li{
	width: 100%;
}
.header .navigation ul li:hover > ul{
	display: initial;
}
#toggle,
.header label{
	display: none;
	cursor: pointer;
}
.menu{
	width: 45px;
	height: 35px;
}
.btn{
	padding: 0px 15px;
	border-radius: 30px;
	background-color: #685CFE;
	color: #F2F2F2;
	font-weight: 600;
	cursor: pointer;
	margin-left: 50px;
}
.catalogo{
	padding: 0px 15px;
	border-radius: 30px;
	background-color: #FFB900;
	color: #F2F2F2;
	font-weight: 600;
	cursor: pointer;
	float: right;
	margin-top: 100px;
	font-size: 33px;
}
.catalogo:hover{
	background-color: #F2F2F2;
	color: #FFB900;
}
.audio{
	box-shadow: 0 0 90px #FFFFFF;
	border-radius: 50px;
	margin: auto 10px;
	width: 300px;
	height: 40px;
	margin-top: 100px;
}
.logo{
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 60px;
	padding: 20px;
	align-items: center;
	text-align: center;
	background-color: white;
}
.logo img{
	border-radius: 70px;
	margin-right: 20px;
	margin-left: 30px; 
	width: 100px; 
	height: auto;
}
.swiper{
	width: 100%;
	padding: 100px 0 100px 0;
}
.swiper-slide{
	width: 400px;
	height: 700px;
	background-color: #323232;
	box-shadow: 0 0 100px rgb(0, 0, 0, 0.9);
	padding: 50px;
	text-align: center;
	border-radius: 30px;
}
.icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.icons i{
	font-size: 20px;
	color: #FFB900;
}
.icons img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.product-content{
	display: flex;
	justify-content: space-between;
}
.product-txt{
	text-align: left;
	flex-basis: 90%;
}
.product-txt span{
	font-size: 20px;
	color: #FFB900;
	font-weight: bold;
	text-transform: uppercase;
}
.product-txt h3{
	font-size: 23px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.product-txt p{
	font-size: 15px;
	color: #C4C4C4;
}
.product-img{
	flex-basis: 10%;
	text-align: right;
}
.product-img img{
	width: 130px;
}
.btn-1{
	display: none;
	padding: 13px 55px;
	border: 1px solid #FFB900;
	border-radius: 25px;
	color: #FFB900;
	text-decoration: none;
	margin-top: 10px;
}
.btn-1:hover{
	color: #FFFFFF;
	background-color: #FFB900;
}
.footer{
	display: flex;
	justify-content: space-between;
}
.logo-2{
	width: 120px;
	height: auto;
	border-radius: 50%;
}
.links{
	margin-top: 300px;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}
.links h4{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-bottom: 25px;
	cursor: pointer;
}
.links ul li a{
	color: #FFFFFF;
	font-size: 15px;
	display: inline-block;
	margin-left: 25px;
}
.links ul li a:hover{
	text-decoration: 2px solid #FFB900 underline;
}
@media(max-width: 950px){
	.header label{
		display: initial;
	}
	.header{
		position: absolute;
		padding: 20px 20px;
	}
	.header .navigation{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: rgba(1, 1, 1, 0.7);
		display: none;
	}
	.header .navigation ul li{
		width: 100%;
	}
	.header .navigation ul li a{
		padding: 8px 30px 8px 10%;
	}
	.header .navigation ul li ul{
		position: relative;
		width: 100%;
		left: 0;
	}
	.header .navigation ul li ul li{
		background-color: rgba(1, 1, 1, 0.7);
	}
	.header .navigation ul li ul li ul{
		position: relative;
		width: 100%;
		left: 0;
	}
	#toggle:checked ~ .navigation{
		display: block;
	}
	.btn{
		width: 100%;
		margin: 0px;
		border-radius: 3px;
	}
	.audio{
		display: none;
	}
	.logo{
		display: flex;
		justify-content: space-between;
		width: auto;
	}
	.logo p{
		font-size: 28px;
		float: left;
	}
	.logo img{
		float: right;
		width: 80px;
	}
	.footer{
		padding: 30px;
		flex-direction: column;
		text-align: center;
	}
	.links h4{
		margin: 30px 0px 10px 0px;
	}
}

